{% extends 'base.html' %}

{% block title %}Signin - EarniFy{% endblock %}

{% block content %}
<h2 class="text-center">Signin</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.email.label }}{{ form.email(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.password.label }}{{ form.password(class="form-control") }}
    </div>
    <div class="text-center">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
<p class="text-center mt-3">Don't have an account? <a href="{{ url_for('signup') }}">Signup here</a>.</p>
{% endblock %}
